.card-container {
    margin: 10px;
}

.card {
    width: 250px;
    height: 500px;
    padding: 2em 1.5em;
    border: 2px solid grey;
    font-size: 18px;
    font-weight: 500;
    color: black;
    border-radius: 15px;
}

.card-image {
    max-width: fit-content;
    max-height: 12em;
    min-height: 12em;
    border-radius: 5px;
    margin: auto;
}