.card-container {
    margin: 10px;
}

.card {
    width: 250px;
    height: 500px;
    padding: 2em 1.5em;
    border: 2px solid grey;
    font-size: 18px;
    font-weight: 500;
    color: black;
    border-radius: 8% !important;
}

.p-name{
    padding-top: 5%;
    color: black;
    font-weight: 700;
}

.link{
    text-decoration: none;
}

.card-image {
    max-width: fit-content;
    max-height: 12em;
    min-height: 12em;
    border-radius: 5px;
}