$primary-color: #ccdc8c;
$second-color: #051922;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $primary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

section {
  color: rgb(0, 0, 0);
  /* text-shadow: 3px 3px rgba(50, 50, 70, 0.5); */
/*   background: url(./fondo.jpg);
  background-size: cover; */
  height: 100vh;
}

.navBg {
  background-color: $second-color;
  


  img {
    width: 150px;
  }

  .cart-widget{
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  .qty-display {
    background-color: $primary-color;
    border-radius: 10px;
    color: black;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  }
  .me-auto{
    margin-left: 15px;
  }

  .cart-icon {
    color: $primary-color;
    font-size: 24px;
    margin-right: 7px;
    float: left;
  }
}