.item-count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .count-container {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid grey;
    border-radius: 10px;
  }
  .button-container {
    
    font-size: 15px;
    line-height: 20px;
    border-radius: 15px;
    background: #fff;
    border: 2px solid #918f8f;
    cursor: pointer;
    
  }
  
  .button-container[disabled] {
    color: grey;
    border: 1px solid #d1d1d1;
  }
  .button-cart {
    width: 150px;
    height: 43px;
    margin: 5px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: #fff;;
    background-color: rgb(12, 139, 133)
  }

  .button-cart:hover {
    width: 170px;
    height: 48px;
    margin: 5px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: rgb(78, 226, 219);
    background-color: rgb(0, 0, 0)
  }

  .button-cart-no-stock {
    width: 150px;
    height: 43px;
    margin: 5px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: #fff;;
    background-color: rgb(214, 18, 18)
  }