

@import url('https://fonts.googleapis.com/css?family=Oswald');


.view h1 {
    padding-top: 3px;
    text-align: center;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 60px;
    margin: auto;
    transform: skewY(-2deg);
    letter-spacing: 4px;
    word-spacing: -8px;
    color: #051922;
    text-shadow:
        -1px -1px 0 rgb(78, 226, 219),
        -10px 20px 40px dimgrey
}

h1:first-letter {
    text-transform: uppercase;
}

.item-list {
    width: 100%;
    display: flex;
    padding: 1rem;
    flex-flow: row wrap;
    justify-content: center;

    min-height: calc(100vh - 85px);
}

@media (min-width: 600px) {
    .item-list {
        min-height: calc(100vh - 50px);
    }
}

@media (min-width: 768px) {
    .item-list {
        min-height: calc(100vh - 59px);
    }
}